<h1>About Blocmarks</h1>

<p><em>Social Bookmarking With Email Integration</em></p>
<p>Build a production quality social bookmarking app that allows users to email, manage and share bookmarked URLs.  A student created project for Bloc, a San Francisco based online bootcamp.</p>